@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&disply=swap');


* {
    margin: 0;
    padding: 0;

}
.container{
    height: 110vh;
    background-color: #191a2b;
  
}

.sidebar {
    position: absolute;
    font-family: 'Poppins';
    font-weight: 500;
    height: 107vh;
    transition: transform 0.3s ease-in;
}

.sidebar{
    transform: translate();
    
}
.sidebarGo{
    transform: translateX(-100%);
    
}

.hamburger{
    position: absolute;
    top: 10px;
    left: 15px;
}
.hamburger i {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
  }

.hamburger i{
    font-size: 30px;
    cursor: pointer;
} 

#cross{
    margin-left: 120px;
}

.sidebar nav {
    padding: 10px;
    background-color: #454545;
    height: 100%;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;

}

.sidebar nav li a{
    text-decoration: none;
    color: rgb(0, 255, 251);
}
.main {
    background-color:#191a2b;
    width: 87vw;
    height: 110vh;
}

.main2{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    height: 110vh;
    width: 100%;
    background-color: #191a2b;
}

.service-wrapper{
    padding: 5% 8%;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service h1{
    color: #ffffff;
    margin-top: -10px;

}

.service h1:hover{
    color: #ffa200;  
    cursor: pointer;

}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    margin-top: 80px;

}

.card{
    height: 275px;
    width: 325px;
    background-color: #1c2335;
    padding: 10px;
    border: 0.2px solid rgba(114, 226, 174, 0.2);
    border-radius: 5px;
    transition: 0.6s;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}


.card i{
    color: #72e2ae;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 35px;

}
.card .imageedit{
    
    width: 280px;
    height:150px;
}

.card h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;

}

.card p{
    text-align: left;
    width: 300px;
    font-size: small;
    margin: 12px 0;
    color: rgba(255,255,255,0.6);
}
.card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
    cursor:pointer;

}

.card:hover{
    color: #00ff37;
}



@media screen and (max-width:1200px){
    .cards{
        grid-template-columns:repeat(2,1fr);
    }
}

@media screen and (max-width:900px){
    .cards{
        grid-template-columns: repeat(1,1fr);
    }

    h1{
        font-size: 3.5rem;
    }
}


@media screen and (max-width: 426px) {
    .container{
        height: 250vh;
    }
    .service h1{
        font-size: large;
        margin-top: 10px;
    }
    .cardsofservice {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .card {
      width: 100%;
      max-width: none;
      height: auto;
    }
  
    h1 {
      font-size: 2.5rem;
    }
  }

  
@media screen and (max-width: 321px) {
    .container{
        height: 250vh;
        width: 200vw;
    }
    .service h1{
        font-size: large;
        margin-top: 10px;
    }
    .cardsofservice {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .card {
      width: 100%;
      max-width: none;
      height: auto;
    }
  
    h1 {
      font-size: 2.5rem;
    }
  }
